* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 1rem;
    font-size: 100px;
}

body {
    text-align: center;
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
}

.wordle {
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    border: solid 2px white;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

ul {
    display: flex;
    list-style: none;
}

img {
    height: 75px;
    width: 75px;
    margin: 25px;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.result {
    margin-top: 20px;
    font-size: 50px;
}

.hidden {
    display: none;
}

.btn {
    margin: 20px;
    padding: 10px;
    border: solid 2px white;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}

/* click animation */
.btn:active {
    transform: translateY(4px);
}


